body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./bgimage.jpg);
}

.container {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color:rgb(6,213,223,0.4);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input{
    width: 100%;
}

.output{
    width: 100%;
    display: flex;
    flex-direction: column;

}

textarea{
    width: 98%;
    height:12em;
    margin-bottom: 10px;
    padding: 8px;
    font-size:x-large;
}

textarea::placeholder{
    font-size: x-large;
}
.dropdown-container {
    height:50px ;
}

select,label{
    background-color:rgb(176, 224, 230,0.4);
    font-size: large;
}

/* .dropdown {
    width: 100%;
    font-size: 16px;
} */
         
button{
    align-self: center;
}

.btn-grad {
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #fc00ff  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 